ETHEREUM_ENDPOINT=https://ethereum.blockpi.network/v1/rpc/public
GOERLI_ENDPOINT=https://goerli.blockpi.network/v1/rpc/public
DARWINIA_ENDPOINT=http://g1.dev.darwinia.network:10000
CRAB_ENDPOINT=https://crab-rpc.darwinia.network
PANGOLIN_ENDPOINT=https://pangolin-rpc.darwinia.network
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/goerli_pangolin?retryWrites=true&w=majority
